<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
   <add key="ArtifactoryNuGetV2" value="https://zipau.jfrog.io/zipau/api/nuget/nuget" />
  </packageSources>
  <packageSourceCredentials>
    <ArtifactoryNuGetV2>
        <add key="Username" value="PACKAGESUSERNAME" />
        <add key="ClearTextPassword" value="PACKAGESPASSWORD" />
    </ArtifactoryNuGetV2>
  </packageSourceCredentials>
</configuration>