[*.cs]

# S4830: Server certificates should be verified during SSL/TLS connections
dotnet_diagnostic.S4830.severity = none

# S1481: Unused local variables should be removed
dotnet_diagnostic.S1481.severity = none

# S125: Sections of code should not be commented out
dotnet_diagnostic.S125.severity = none

# CS1998: Async method lacks 'await' operators and will run synchronously
dotnet_diagnostic.CS1998.severity = none

# S3604: Member initializer values should not be redundant
dotnet_diagnostic.S3604.severity = none
