# APP SETTINGS
BASE_URL=

# MOCHA SETTINGS
MOCHA_TIMEOUT=
MOCHA_REPORTER=

# CONTRACT TEST SETTINGS
PROVIDER_NAME_CUSTOMER_SUMMARY=
PROVIDER_NAME_CUSTOMER_PROFILE=
PROVIDER_NAME_ACCOUNT_SEARCH=
PROVIDER_NAME_CUSTOMERS_SERVICE=
PROVIDER_NAME_CARDS_API=
PROVIDER_NAME_STATEMENTS_API=
PROVIDER_NAME_PAYMENT_WEBHOOK_API=
PROVIDER_NAME_VCN_TRANSACTIONS_API=
PROVIDER_NAME_PAYMENTS_SERVICE_PROXY=
PROVIDER_NAME_CRM_SERVICE_PROXY=
PROVIDER_NAME_PAY_NOW_LINK_SERVICE=
PROVIDER_NAME_COMMUNICATIONS_SERVICE_PROXY=
PROVIDER_NAME_TANGO=
PROVIDER_NAME_IDENTITY_SERVICE_PROXY=
CONSUMER_NAME=
MOCK_SERVER_PORT=

PACT_BROKER_URL=